---
import { getCollection } from 'astro:content';

import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';

const allJobs = await getCollection('jobs');
---

<Layout title="Welcome to Chris Gaeta's portfolio">
	<main>
		<h1 class="text-2xl mb-6">Welcome to <br /><span class="text-gradient text-4xl">Chris Gaeta's portfolio</span></h1>
		<ul role="list" class="mb-4">
			{allJobs.filter((job) => !job.data.hidden).reverse().map((job) => (
				<Card title={job.data.employer} body={job.body} start={job.data.start} end={job.data.end}>
					<h3 class="text-lg leading-loose">Duties</h3>
					<ul class="px-4 list-disc">
						{job.data.duties.map((duty) => <li class="text-sm leading-relaxed">{duty}</li>)}
					</ul>
					<h3 class="text-lg leading-loose">Contributions</h3>
					<ul class="px-4 list-disc">
						{job.data.contribution.map((contribution) => <li class="text-sm leading-relaxed">{contribution}</li>)}
					</ul>
					</Card>
			))}
		</ul>
		<Card title="Skills & Buzzwords" body="">
			<ul class="px-4">
				<li>HTML, (S)CSS</li>
				<li>Javascript, Typescript</li>
				<li>React, Redux, hooks</li>
				<li>Next.js</li>
				<li>Webpack, Vite, Parcel</li>
				<li>Node.js, Rails</li>
				<li>CI, GitHub Actions</li>
			</ul>
		</Card>
	</main>
</Layout>

<style>
	main {
		margin: auto;
		padding: 1.5rem;
		max-width: 60ch;
	}
	h1 {
		font-size: 3rem;
		font-weight: 800;
		margin: 0;
	}
	.text-gradient {
		background-image: var(--accent-gradient);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-size: 400%;
		background-position: 0%;
	}
	.instructions {
		line-height: 1.6;
		margin: 1rem 0;
		border: 1px solid rgba(var(--accent), 25%);
		background-color: white;
		padding: 1rem;
		border-radius: 0.4rem;
	}
	.instructions code {
		font-size: 0.875em;
		font-weight: bold;
		background: rgba(var(--accent), 12%);
		color: rgb(var(--accent));
		border-radius: 4px;
		padding: 0.3em 0.45em;
	}
	.instructions strong {
		color: rgb(var(--accent));
	}
</style>
